<div class="site-menubar">
	<div class="site-menubar-head text-center">
		<a class="navbar-avatar" href="">
			<span class="avatar avatar-online">
			<img src="" alt="">
		</span>
		</a>
	</div>
	<div class="site-menubar-body">
		<div>
			<div>
				<ul class="site-menu">
					<li class="site-menu-item active">
						<a href="${basePath}/admin/content/list" title="内容管理">
							<i class="iconfont icon-home"></i>
						</a>
					</li>	
					<li class="site-menu-item">
						<a href="${basePath}/admin/comment/list" title="评论管理">
							<i class="iconfont icon-iconfontallon"></i>
						</a>
					</li>
					<li class="site-menu-item ">
						<a href="${basePath}/admin/category" title="分类管理">
							<i class="iconfont icon-homeall"></i>
						</a>
					</li>
					<li class="site-menu-item">
						<a href="${basePath}/admin/super/cmuser" title="用户管理">
							<i class="iconfont icon-friendfavor"></i>
						</a>
					</li>
					<li class="site-menu-item">
						<a href="${basePath}/admin/exam/charts" title="统计报表-二维码">
							<i class="iconfont icon-xunzhang"></i>
						</a>
					</li>
					<li class="site-menu-item">
						<a href="${basePath}/admin/exam/cookie" title="Storage">
							<i class="iconfont icon-xingxing"></i>
						</a>
					</li>
					<li class="site-menu-item">
						<a href="${basePath}/admin/exam/webscoket" title="jquery获取属性值">
							<i class="iconfont icon-svg"></i>
						</a>
					</li>
					<li class="site-menu-item">
						<a href="$" title="Storage">
							<i class="iconfont icon-dongtai"></i>
						</a>
					</li>
					<li class="site-menu-item">
						<a href="$" title="Storage">
							<i class="iconfont icon-mysql"></i>
						</a>
					</li>
					<li class="site-menu-item">
						<a href="$" title="Storage">
							<i class="iconfont icon-vip1"></i>
						</a>
					</li>
				</ul>
				<ul class="site-menu site-menu-bottom padding-bottom-20">
					<li class="site-menu-item ">
						<a href="${basePath}/admin/accredit" title="用户授权">
							<i class="iconfont icon-my fz24"></i>
						</a>
					</li>
					<li class="site-menu-item">
						<a href="javascript:void(0);" title="退出">
							<i class="iconfont icon-Logout"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
